<%# Quote %>
<%# <div data-controller="quote" class="quote marquee">
  <span data-quote-target="output"></span>
</div> %>

<div class="myspace">
  <%# Profile %>
  <div class="profile">
    <h1 style="text-transform:uppercase"><%= @user.nickname %></h1>
    <%= @user.photo.attached? ? (cl_image_tag @user.photo.key, crop: :fill) : image_tag(asset_path('https://kitt.lewagon.com/placeholder/users/ssaunier')) %>
    <h4><%= @user.first_name %></h4>
    <h4 style="text-transform:uppercase"><%= @user.last_name %></h4>
    <p>Email : <%= @user.email %></p>
    <p>Bio : <%= @user.bio %></p>
    <%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-ghost" %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?"}, class: "btn btn-ghost" %>
    <%= link_to "Write your post", new_post_path, class:"btn btn-ghost" %>
  </div>

  <%# Spin Wheel %>
  <div class="spin-wheel" data-controller="spin-wheel">
    <div>
      <h1>What is your objective today?</h1>
      <button id="spin" data-action="click->spin-wheel#spin">Spin</button>
      <span class="arrow"></span>
      <div class="wheel" data-spin-wheel-target="container">
        <div class="one" id="one" >
          <p data-spin-wheel-target="insert1" >1</p>
        </div>
        <div class="two" id="two">
          <p data-spin-wheel-target="insert2">2</p>
        </div>
        <div class="three" id="three">
          <p data-spin-wheel-target="insert3">3</p>
        </div>
        <div class="four" id="four">
          <p data-spin-wheel-target="insert4">4</p>
        </div>
        <div class="five" id="five">
          <p data-spin-wheel-target="insert5">5</p>
        </div>
        <div class="six" id="six" >
          <p data-spin-wheel-target="insert6">6</p>
        </div>
        <div class="seven" id="seven" >
          <p data-spin-wheel-target="insert7">7</p>
        </div>
        <div class="eight" id="eight">
          <p data-spin-wheel-target="insert8">8</p>
        </div>
      </div>
    </div>
    <div class="wheel-input">
      <div class="input-group mb-3">
        <span class="input-group-text group1">1</span>
        <input type="text" id="one" class="form-control" data-action="input->spin-wheel#update" data-spin-wheel-target="input1" value="Create a motivational post">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text group2">2</span>
        <input type="text" id="two" class="form-control" data-action="input->spin-wheel#update" data-spin-wheel-target="input2" value="Share an article you think it's helpful">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text group3">3</span>
        <input type="text" id="three" class="form-control" data-action="input->spin-wheel#update" data-spin-wheel-target="input3" value="Help at least 5 peoples">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text group4">4</span>
        <input type="text" id="four" class="form-control" data-action="input->spin-wheel#update" data-spin-wheel-target="input4" value="Participate in at least one activity of the week">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text group5">5</span>
        <input type="text" id="five" class="form-control" data-action="input->spin-wheel#update" data-spin-wheel-target="input5" value="Join a chat room">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text group6">6</span>
        <input type="text" id="six" class="form-control" data-action="input->spin-wheel#update" data-spin-wheel-target="input6" value="Listen to a motivational speech">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text group7">7</span>
        <input type="text" id="seven" class="form-control" data-action="input->spin-wheel#update" data-spin-wheel-target="input7" value="Talk to your friends and your family">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text group8">8</span>
        <input type="text" id="eight" class="form-control "data-action="input->spin-wheel#update" data-spin-wheel-target="input8" value="Play a sport">
      </div>
    </div>
  </div>

  <%# My Space %>
  <div class="space">
    <div class="space-title">
      <div class="title">
        <span class="title-word title-word-1">MY</span>
        <span class="title-word title-word-2">SPACE</span>
      </div>
    </div>

    <div class="cards" data-controller="sortable">
      <% @user.posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <div class="card-category">
            <h4><%= post.title.truncate(50) %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
