<div class="container">
  <div class="myspace">
    <%= @user.photo.attached? ? (cl_image_tag @user.photo.key, crop: :fill) : image_tag(asset_path('https://kitt.lewagon.com/placeholder/users/ssaunier')) %>
    <h1><%= @user.nickname %></h1>
    <p>First name : <%= @user.first_name %></p>
    <p>Last name : <%= @user.last_name %></p>
    <p>Nickname : <%= @user.nickname %></p>
    <p>Email : <%= @user.email %></p>
    <p>Bio : <%= @user.bio %></p>
    <%# <p>Friend</p>
    <p>Saved Posts</p> %>
    <%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-ghost" %>
  </div>
</div>
