<div class="myspace">
  <%# Profile %>
  <div class="profile">
    <h1 style="text-transform:uppercase"><%= @user.nickname %></h1>
    <%= @user.photo.attached? ? (cl_image_tag @user.photo.key, crop: :fill) : image_tag(asset_path('https://kitt.lewagon.com/placeholder/users/ssaunier')) %>
    <h4><%= @user.first_name %></h4>
    <h4 style="text-transform:uppercase"><%= @user.last_name %></h4>
    <p>Email : <%= @user.email %></p>
    <p>Bio : <%= @user.bio %></p>
    <%# <p>Friend</p>
    <p>Saved Posts</p> %>
    <%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-ghost" %>
    <%= link_to "Write your post", new_post_path, class:"btn btn-ghost" %>
  </div>

  <%# Space %>
  <div class="space-title">
    <h1>MY SPACE</h1>
  </div>
  <div class="cards" id="myspace-cards">
    <% @user.posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="card-category">
          <h4><%= post.title %></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
