<div class="myspace">
  <%# Profile %>
  <div class="profile">
    <h1 style="text-transform:uppercase"><%= @user.nickname %></h1>
    <%= @user.photo.attached? ? (cl_image_tag @user.photo.key, crop: :fill) : image_tag(asset_path('https://kitt.lewagon.com/placeholder/users/ssaunier')) %>
    <h4><%= @user.first_name %></h4>
    <h4 style="text-transform:uppercase"><%= @user.last_name %></h4>
    <p>Email : <%= @user.email %></p>
    <p>Bio : <%= @user.bio %></p>
    <%# <p>Friend</p>
    <p>Saved Posts</p> %>
    <%= link_to "Edit your profile", edit_user_registration_path, class: "btn btn-ghost" %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?"}, class: "btn btn-ghost" %>
    <%= link_to "Write your post", new_post_path, class:"btn btn-ghost" %>
  </div>

  <%# Space %>
  <div class="space">
    <div class="space-title">
      <div class="title">
        <span class="title-word title-word-1">MY</span>
        <span class="title-word title-word-2">SPACE</span>
      </div>
    </div>

  <div>
    Spin a wheel
  </div>
  <div>
    Activities
  </div>

    <div class="cards" data-controller="sortable">
      <% @user.posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <div class="card-category">
            <h4><%= post.title %></h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
