<div class="container">
  <div class="forms">
    <%= simple_form_for(@article) do |f| %>
      <%= f.input :title, placeholder: "Enter the title" %>
      <%= f.input :url, label: "Article's URL", placeholder: "Enter the url" %>
      <%= f.input :message, label: "Content", placeholder: "Content" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit value: "Update", class: "btn btn-ghost" %>
      <%= link_to "Back to #{@article.title}", article_path(@article), class: "btn btn-ghost" %>
    <% end %>
  </div>
</div>
