<div class="container">

  <div class="d-flex justify-content-center py-3">
    <%= link_to "New Article", new_article_path, class:"btn btn-ghost" %>
  </div>

  <% @articles.each do |article| %>
    <div class="card-trip my-4" data-controller="display-card-infos" data-display-card-infos-target="article">
      <%# article photo %>
      <div class="card-article">
        <%= article.photo.attached? ? (cl_image_tag article.photo.key, crop: :fill, class:"article-photo", data: { action: "click->display-card-infos#displayCard" }) : image_tag(asset_path("mirror.jpg"), class:"article-photo", data: { action: "click->display-card-infos#displayCard" }) %>
        <h2 data-action="click->display-card-infos#displayCard"><%= article.title %></h2>
      </div>
      <%# card infos %>
      <%= link_to article_path(article), class: "text-decoration:none" do %>
      <div class="card-trip-infos" data-display-card-infos-target="card">
        <div>
          <h2><%= article.title %></h2>
          <p><%= article.message%></p>
          <p><%= link_to "Click Me", article_path(article), class:"click-me card-trip-user" %></p>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

</div>
