<div class="container">
<%= link_to "New Article", new_article_path, class:"btn btn-ghost" %>
  <% @articles.each do |article| %>
    <div>

      <%# photo article %>
      <div class="gallery">

        <%= link_to article_path(article), class: "text-decoration:none" do %>

          <div>
            <%= article.photo.attached? ? (cl_image_tag @article.photo.key, crop: :fill, class: "photo-article") : image_tag(asset_path("mirror.jpg"), class: "photo-article") %>
            <h3><%= article.title %></h3>
          </div>

        <% end %>

      </div>

      <%# user photo & nickname %>
      <%= current_user.photo.attached? ? (cl_image_tag current_user.photo.key, crop: :fill, class: "rounded-circle avatar me-0") : image_tag(asset_path('https://kitt.lewagon.com/placeholder/users/ssaunier'), class: "rounded-circle avatar me-0") %>
      <span class="text-muted fs-6">Posted by <strong style="text-transform:uppercase"><%= current_user.nickname %></strong>
      </span>

    </div>
  <% end %>
</div>
