<div data-controller="quote" class="quote">
    <span data-quote-target="output"></span>
</div>

<%# Banner %>
<div class="banner">
  <h2 class="speakitout">
    Spe@kitOut
    <span>Spe@kitOut</span>
    <span>Spe@kitOut</span>
    <span>will make you feel better</span>
  </h2>
</div>

<div class="container">
  <div class="d-flex justify-content-center">
    <%= render "shared/category", form_path: @article, type: "article"%>
  </div>

  <% @articles.each do |article| %>
    <div class="card-trip my-4" data-controller="display-card-infos" data-display-card-infos-target="article">
      <%# article photo %>
      <div class="card-article">
        <%= article.photo.attached? ? (cl_image_tag article.photo.key, crop: :fill, class:"article-photo", data: { action: "click->display-card-infos#displayCard" }) : image_tag(asset_path("mirror.jpg"), class:"article-photo", data: { action: "click->display-card-infos#displayCard" }) %>
        <h2 data-action="click->display-card-infos#displayCard"><%= article.title %></h2>
      </div>
      <%# card infos %>
      <%= link_to article_path(article), class: "text-decoration:none" do %>
        <div class="card-trip-infos" data-display-card-infos-target="card">
          <div class="articles-content">
            <p><%= article.message.truncate(70)%>
          <%= link_to article_path(article), class:"click-me" do %>
            <i class="fa-solid fa-circle-plus"></i>
          <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="pagination" id="bottom">
    <%= will_paginate @articles, :container => false, :params => {:anchor => "bottom"} %>
  </div>
</div>
