<%# Banner %>
<div class="banner">
  <h2 class="speakitout">
    Spe@kitOut
    <span>Spe@kitOut</span>
    <span>Spe@kitOut</span>
    <span>will make you feel better</span>
  </h2>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-ghost" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  New Article
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Article</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form34">Title</label>
          <input type="text" id="form34" class="form-control validate">
        </div>
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form29">URL</label>
          <input type="email" id="form29" class="form-control validate">
        </div>
        <div class="md-form">
          <label data-error="wrong" data-success="right" for="form32">Content</label>
          <input type="text" id="form32" class="form-control validate">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="d-flex justify-content-center">
    <%= link_to "New Article", new_article_path, class:"btn btn-ghost" %>
  </div>

  <% @articles.each do |article| %>
    <div class="card-trip my-4" data-controller="display-card-infos" data-display-card-infos-target="article">
      <%# article photo %>
      <div class="card-article">
        <%= article.photo.attached? ? (cl_image_tag article.photo.key, crop: :fill, class:"article-photo", data: { action: "click->display-card-infos#displayCard" }) : image_tag(asset_path("mirror.jpg"), class:"article-photo", data: { action: "click->display-card-infos#displayCard" }) %>
        <h2 data-action="click->display-card-infos#displayCard"><%= article.title %></h2>
      </div>
      <%# card infos %>
      <%= link_to article_path(article), class: "text-decoration:none" do %>
      <div class="card-trip-infos" data-display-card-infos-target="card">
        <div class="articles-content">
          <p><%= article.message.truncate(60)%>
            <%= link_to article_path(article), class:"click-me" do %>
              <i class="fa-solid fa-circle-plus"></i>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>

</div>
