<div class="container">
  <div class="article">
    <%= @article.photo.attached? ? (cl_image_tag @article.photo.key, crop: :fill) : image_tag(asset_path("mirror.jpg")) %>
    <h1><%= @article.title %></h1>
    <p><%= @article.url %></p>
    <p><%= @article.message %></p>
  </div>
  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-ghost" %>
  <%= link_to "Delete", article_path, class: "btn btn-ghost", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@article.title} ?"} %>
  <%= link_to "Back to article", articles_path, class: "btn btn-ghost" %>
</div>
