<% content_for :meta_title, "#{@article.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.message %>
<% content_for :meta_image, cl_image_tag(@article.photo.tag)%>

<div class="">
  <div class="article">
    <%= @article.photo.attached? ? (cl_image_tag @article.photo.key, crop: :fill) : image_tag(asset_path("mirror.jpg")) %> <div class="article-content">
      <h1 style="text-transform:uppercase"><%= @article.title %></h1>
      <%= link_to edit_article_path(@article) do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= link_to article_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@article.title} ?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      <%= link_to articles_path do %>
        <i class="fa-solid fa-book"></i>
      <% end %>
      <p><%= @article.message %></p>
      <%= link_to @article.url, @article.url%>
    </div>
  </div>
</div>
