<%# Carousel %>
<%= render "shared/slide" %>

<div class="container home d-flex justify-content-between">
  <%# Category %>
  <div>
    <%= render "shared/category", form_path: @post, type: "post"%>
  </div>

  <%# Middle Posts %>
  <% sorted = {}%>
  <div class="container flex-grow-1 my-3">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="d-flex border p-2 rounded-3 mb-3 posts">
          <div class="me-3">
            <%= post.user.photo.attached? ? (cl_image_tag post.user.photo.key, crop: :fill, class: "rounded-circle avatar me-0") : image_tag(asset_path('https://kitt.lewagon.com/placeholder/users/ssaunier'), class: "rounded-circle avatar me-0") %>
          </div>
          <div>
            <div class="text-muted ">
              <span class="fs-6">Posted by <%= post.user.nickname %></span>
              <span class="mx-1">·</span>
              <span><%= time_ago_in_words(post.created_at) %> ago</span>
            </div>
            <p class="mb-0 fw-bold fs-5" ><%= post.title %></p>
            <p class="mb-0" ><%= post.content %></p>
          </div>
        </div>
        <% sorted[post.id] = post.replies.length %>
      <% end %>
    <% end %>
    <div class="pagination" id="bottom">
      <%= will_paginate @posts, :container => false, :params => {:anchor => "bottom"} %>
    </div>
  </div>
</div>

<%# Timetable %>
<div class="tab">
  <table>
    <tr class="days">
      <th></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
    <tr>
      <td class="time">9.00</td>
      <td class="cs335 green" rowspan="2">Morning Chat<br><a href="http://localhost:3000/posts/144"><i class="fa-solid fa-person-walking"></i></a></td>
      <td class="cs426 purple">Meditation part 1<br><a href="#"></a><i class="fa-solid fa-person-walking"></i></td>
      <td></td>
      <td></td>
      <td>- </td>
    </tr>
    <hr></hr>
    <tr>
      <td class="time">10.00</td>
      <td></td>
      <td class="md303 navy">Let's Meet Up<br><a href="#"><i class="fa-solid fa-person-walking"></i></a></td>
      <td class="md313 newblue">Join us for a chat!<br><a href="http://localhost:3000/posts/145"><i class="fa-solid fa-person-walking"></i></a></td>
      <td>-</td>
    </tr>
    <tr>
      <td class="time">11.00</td>
      <td></td>
      <td class="cs335 green lab"colspan="3"><center>
        Whatever<br><a href="#"><i class="fa-solid fa-person-walking"></i></a></td>
      <td>- </td>
    </tr>
    <tr>
      <td class="time">12.00</td>
      <td></td>
      <td class="md303 navy">Walking Tour<br><a href="#"><i class="fa-solid fa-person-walking"></i></a></td>
      <td class="md313 newblue">Doctor's Speech<br><a href="#"><i class="fa-solid fa-person-walking"></i></a></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class="time">13.00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class="time">14.00</td>
      <td></td>
      <td></td>
      <td class="cs426 purple">Mediation part 2<br><a href="#"><i class="fa-solid fa-person-walking"></i></a></td>
      <td class="cs240 orange" rowspan="3">Afternoon Chat<br><a href="http://localhost:3000/posts/146"><i class="fa-solid fa-person-walking"></i></a></td>
      <td>-</td>
    </tr>
    <tr>
      <td class="time">15.00</td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class="time">16.00</td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
    <tr>
      <td class="time">17.00</td>
      <td class="cs335 green">Yoga<br><a href="#"><i class="fa-solid fa-person-walking"></i></a></td>
      <td></td>
      <td></td>
      <td></td>
      <td>-</td>
    </tr>
  </table>
</div>
