<!DOCTYPE html>
<html>
  <head>
    <title>Speakitout · Speak it out will make you feel better</title>


    <meta name="viewport" content="width=divice-width, initial-scale=1">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Speakitout · Speak it out will make you feel better" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.speakitout.help" />
    <meta property="og:image" content="https://res.cloudinary.com/dqknqmpbm/image/upload/v1670422795/logo_athart.png"/>
    <meta property="og:description" content="Feeling down? Speak it out at Spe@kitOut will make you feel better!" />
    <meta property="og:site_name" content="Speakitout" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon-32x32.png", alt: 'speakitout'), rel: 'icon', type: 'image/png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%# <div data-controller="quote" class="quote">
      <span data-quote-target="output"></span>
    </div> %>
    <%= yield %>
    <a href="#" class="top"><i class="fa-sharp fa-solid fa-arrow-up"></i></a>
    <%= render "shared/footer" %>
  </body>
</html>
